.product-detail {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    background-color: lightgray;
}

.product-detail__inner {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.product-detail__image {
    margin: 0 auto;
    width: 45%;
    text-align: left;
    padding: 5px;
}

.image__input {
    width: 100%;
}

.image__selection {
    padding: 10px;
    width: 35%;
    height: 50px;
    border: 1px solid #000;
    background-color: grey;
    color: #000;
}

.product-detail__content {
    display: flex;
    margin: 0 auto;
    width: 55%;
    text-align: right;
    padding: 5px;
}

.item__text {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
    appearance: none;
}

.product-detail__description {
    margin: 0 auto;
    width: 100%;
    text-align : center;
}

.item__textarea {
    padding: 10px;
    width: 100%;
    height: 120px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
    appearance: none;
}

.product-detail__button {
    margin-top: 30px;
    text-align: center;
}

.btn__return {
    padding: 10px;
    width: 20%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: grey;
    color: #000;
    cursor: pointer;
}

.btn__store {
    margin-left: 20px;
    padding: 10px;
    width: 20%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: orange;
    color: #000;
    cursor: pointer;
}

.product-detail__icon {
    margin-top: 30px;
    text-align: right;
}